.grid_25, .grid_33, .grid_40, .grid_50 , .grid_60, .grid_75{
	float: left;
	padding: 0;
	margin:0;
	display:inline;
	
}
.grid_25 {width:25%;}
.grid_33 {width:33%;}
.grid_40 {width:40%;}
.grid_50 {width:50%;}
.grid_60 {width:60%;}
.grid_75 {width:75%;}
#container b{background:yellow;border:1px solid green; display:block;font-size:120%;}
#container span{border:1px solid red; display:block;}