{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% block head %}
    <!-- Charset -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Bienvenue!{% endblock%}</title>
    <style type="text/css">
    {% block extrastyle %}
    {% endblock extrastyle %}
    </style>
    {% block extrahead %}
<!-- Django admin stuff
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>

<script type="text/javascript" src="/media/js/calendar.js"></script>
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>
-->

    {% endblock extrahead %}
    {% block media %}
    {{ media }}
    {% endblock media %}
    <script type="text/javascript">
    {% block extrascript %}
    {% endblock extrascript %}
    {% block jsbase %}
    $(document).ready(function()
    {
        $.getScript('{{ jsites_media_prefix }}js/jquery.jsites.js', function() {
        {% block jquery %}
        
        // setup css menu
        var arrowimages={
            down:[ 'downarrowclass',  '{{ jsites_media_prefix }}img/arrow-down.gif', 25],
            right:['rightarrowclass', '{{ jsites_media_prefix }}img/arrow-right.gif'],
        };
        // firecss menu
        jquerycssmenu.buildmenu("breadcrumbs", arrowimages)
        {% endblock jquery %}
        {% block ui %}
        jpicTabManager.parseDivTabs();
        ui.parseTabManager();
        ui.writeTabs($('#tabs'));

        function uiupdate() {
        {% block uiupdate %}
            ui.update();
        {% endblock uiupdate %}
        }

        {% block constraints %}
            {% for constraint in constraints %}
            {{ constraint.render }}
            {% endfor %}
        {% endblock constraints %}

        for (tab in jpicTabManager.fieldsets) break

        jpicTabManager.select(tab);
        uiupdate();
        {% endblock ui %}
        });
    });
    {% endblock jsbase %}
    </script>
{% endblock head %}
</head>

<body>
    <div id="header">
    </div>        
    
    <div id="page">
        
        <div id="breadcrumbs" class="jquerycssmenu breadcrumbs">
            {{ menu.render|safe }}
            <br style="clear: left" />
        </div>

        <div id="main">
            {% block contentwrapper %}
            <div id="wrapper">
                <div id="content">
                    <div class="tabs" id="tabs"><!-- filled by jquery.jsites.js --></div>
                {% block messages %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endblock %}
                    <div id="container" class="float_box">
                {% block contents %}
                {% endblock %}
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>

        <div id="footer">
        </div>
    </div>

{% if debug and request.user.is_staff %}
<div id="debug">
  <h2>Queries</h2>
  <p>
    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ query.sql|escape }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

</body>
</html>
