{% extends 'jsites/base.html' %}
{% load i18n %}

{% block title %}{{ submit_name }}{% endblock %}

{% block ui %}
{% if adminform_object or admin_formset_objects %}
jpicTabManager.parseDjangoAdmin();
{% endif %}
{{ block.super }}
{% endblock ui %}

{% block contents %}
<form action="{{ form_object.action_url }}" method="post" id="object_form">
{# popup hack #}
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}

{% block object_form %}
{% if form_object and not adminform_object %}
<table>
    {{ form_object }}
</table>
{% else %}
    {% for fieldset in adminform_object %}
        {% include "jsites/includes/fieldset.html" %}
    {% endfor %}
    {% for formset in merge_formset_objects.values %}
        {{ formset.management_form }}
    {% endfor %}
{% endif %}
{% endblock object_form %}

{% block object_formsets %}
{% if formset_objects and not admin_formset_objects %}
    {% for formset_object in formset_objects %}
        {{ formset_object }}
    {% endfor %}
{% else %}
    {% for inline_admin_formset in admin_formset_objects.values %}
        {% include inline_admin_formset.opts.template %}
    {% endfor %}
{% endif %}
{% endblock object_formsets %}

{# submit #}
<input type="submit" value="{{ form.submit_name }}" name="submit" />
<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}/dashboard{% endif %}{% endif %}" />

</form>
{% endblock %}
