{% extends 'jsites/base.html' %}

{% load object_fields %}
{% load i18n %}

{% block extrastyle %}
#add_object, #hide_add_object
{
    display: none;
}

table
{
    text-align: center;
}
{% endblock %}

{% block extrascript %}
function show_add_object()
{
    $('#add_object').show();
    $('#show_add_object').hide();
    $('#hide_add_object').show();
}

function hide_add_object()
{
    $('#add_object').hide();
    $('#show_add_object').show();
    $('#hide_add_object').hide();
}
{% endblock %}

{% block jquery %}
$('#show_add_object').click(function(event){
    event.preventDefault();
    show_add_object();
})
$('#hide_add_object').click(function(event){
    event.preventDefault();
    hide_add_object();
})
{% endblock %}
{% block contents %}

<div class="tab" id="search_results">
    <h1>{{ content_class.verbose_name|capfirst }}</h1>
    
    <table class="objectinfo">
        <thead>
            <tr>
            {% for field in content_fields %}
                <th>{{ field.verbose_name|capfirst }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for object in search_engine.filter_queryset.all %}
            <tr>
                {% for field in content_fields %}
                <td>
                    {{ field|prop:object }}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a id="hide_add_object" href="javascript:;" title="{% trans "Cancel add object" %}">{% trans "Cancel add object" %}</a>
    <a id="show_add_object" href="{{ form.action_url }}" title="{% trans "Add object" %}">{% trans "Add object" %}</a>
</div>

<div class="tab" id="search_form">
    <form method="post" id="search_form" action="">
        <table>
            {{ search_engine.filter_form }}
            <tr>
                <th>{% trans "Submit" %}</th>
                <td>
                    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% if request.path %}{{ request.path }}{% else %}/dashboard{% endif %}{% endif %}" />

                    <input type="submit" value="{{ form.submit_name }}" name="submit" />
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
