{% extends 'jsites/base.html' %}

{% load object_fields %}

{% block contents %}

<table class="objectinfo">
    {% for name, field in content_field_objects.items %}
    <tr>
        <th>
        {% if field.verbose_name %}
            {{ field.verbose_name|capfirst }}
        {% else %}
            {% if field.field.verbose_name %}
                {{ field.field.verbose_name|capfirst }}
            {% else %}
                {{ field|capfirst }}
            {% endif %}
        {% endif %}
        </th>
        <td>
            {{ name|model_prop:content_object }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
