{% extends 'jsites/base.html' %}
{% load operations %}

{% block contents %}
    {% if nodes %}
<h2>Controllers</h2>
{% for urlname, node in nodes.items %}
    {% with nodes|length as total %}
    <div class="grid_{{ "100"|divideby:total }}">
    {% endwith %}
    <h3>{{ urlname }}</h3>
    {% for controller_urlname, controller in node.controllers.items %}
    {% with node.controllers|length as total %}
    <div class="grid_{{ "100"|divideby:total }}">
    {% endwith %}
        <a href="{{ controller.root_url }}" title="{{ controller.name }}">{{ controller.name }}</a>
            <ul>
            {% for action in controller.actions %}
                <li><a href="{{ controller.urlname }}/{{ action }}">{{ action }}</a></li>
            {% endfor %}
            </ul>
    </div>
    {% endfor %}
</div>
{% endfor %}
    {% else %}
<h2>Actions</h2>
<ul>
        {% for action in controller.actions %}
    <li><a>{{ action }}</a></li>
        {% endfor %}
</ul>
    {% endif %}
{% endblock %}
{% debug %}
