{% extends 'jsites/base.html' %}

{% load object_fields %}
{% load i18n %}

{% block contents %}
<h1>Recherche de {{ model_class|verbose_name_plural }}</h1>

<div class="tab" id="search_results">
    <h2>R&eacute;sultats</h2>
    
    <table class="objectinfo">
        <thead>
            <tr>
            {% for name, field in model_field_objects.items %}
                {% if field.verbose_name %}
                <th>{{ field.verbose_name|capfirst }}</th>
                {% else %}
                <th>{{ name|capfirst }}</th>
                {% endif %}
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for object in search_engine.filter_queryset.all %}
            <tr>
                {% for field in model_field_objects.keys %}
                <td>
                    {{ field|model_prop:object }}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="tab" id="search_form">
    <h2>Crit&egrave;res</h2>
    <form method="post" id="search_form" action="">
        <table>
            {{ search_engine.filter_form }}
            <tr>
                <th>{% trans "Submit" %}</th>
                <td>

                    <input type="submit" value="{{ form.submit_name }}" name="submit" />
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
